<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assetsc/css/bootstrap.min.css">
    <link rel="stylesheet" href="assetsc/css/datepicker.css">
    <link rel="stylesheet" href="assetsc/css/style.css">
    <style>

.form-row input[type="date"],
.form-row input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 16px;
}

.form-row input[type="date"]::placeholder,
.form-row input[type="time"]::placeholder {
    color: #bbb;
}
.time-slots {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.time-slot {
    background-color: #2a2a2a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #444;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    font-size: 16px;
    margin: 5px;
}

.time-slot:hover {
    background-color: #3a3a3a;
}

.time-slot:focus {
    outline: none;
    background-color: #ff9800;
    color: #000;
    transform: scale(1.05);
    border-color: #ff9800;
}

.time-slot.selected {
    background-color: #ff9800;
    color: #000;
    border-color: #ff9800;
}

.form-row input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}

.form-row input[type="date"]::placeholder {
    color: #bbb;
}
.appointment-text {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.doctor-name {
    color: #056420; /* Change the color to your preference */
    font-style: italic;
}

.department {
    color: #fff; /* Change the color to your preference */
    font-weight: normal;
}
.book-appointment {
        font-family: "Arial";
        font-size: 30px;
        font-weight: bold;
        color: #000000; /* Blue color */
        text-align: center; /* Align text in the center */
        margin: 0; /* Remove default margin */
        padding: 20px 0;
    }

    </style>
      <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  </head>

  <body>
    <div class="inner-layer">
        <div class="container">
            <div class="row no-margin">
                <div class="col-sm-7">
                    <div class="content">
                        <h1>"Reserve your slot now and, </h1>
                        <h1>reclaim your time! </h1>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-data">
                        <div class="form-head">
                            <h2 class="book-appointment">Schedule Your Appointment !</h2>
                        </div>
                        <form id="appointmentForm">
                            <div class="form-body">
                                <div class="row form-row">
                                    <input type="text" name="fullName" placeholder="Enter Full name" class="form-control">
                                </div>
                                <div class="row form-row" style="display: none;">
                                    <input type="text" name="fee" value="<%= fee %>" class="form-control">
                                </div>
                                
                                <div class="row form-row">
                                    <input type="text" name="mobileNumber" placeholder="Enter Mobile Number" class="form-control">
                                </div>
                                <div class="row form-row">
                                    <input type="text" name="email" placeholder="Enter Email Address" class="form-control">
                                </div>
                                <p>Select date and time slot:</p>
                                <div class="row form-row">
                                    <input type="date" name="appointmentDate" placeholder="Appointment Date" class="form-control" id="appointmentDate">
                                </div>
                                
                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        var today = new Date().toISOString().split('T')[0];
                                        document.getElementById('appointmentDate').setAttribute('min', today);
                                    });
                                </script>
                                
                                <input type="hidden" id="selectedTimeSlot" name="timeSlot">

                                <div class="row form-row">
                                    <div class="time-slots">
                                        <button type="button" class="time-slot" onclick="setTimeSlot('10:00 AM')">10:00 AM</button>
                                        <button type="button" class="time-slot" onclick="setTimeSlot('11:00 AM')">11:00 AM</button>
                                        <button type="button" class="time-slot" onclick="setTimeSlot('12:00 PM')">12:00 PM</button>
                                        <button type="button" class="time-slot" onclick="setTimeSlot('1:00 PM')">1:00 PM</button>
                                        <button type="button" class="time-slot" onclick="setTimeSlot('2:00 PM')">2:00 PM</button>
                                        <button type="button" class="time-slot" onclick="setTimeSlot('3:00 PM')">3:00 PM</button>
                                        <button type="button" class="time-slot" onclick="setTimeSlot('4:00 PM')">4:00 PM</button>
                                        <button type="button" class="time-slot" onclick="setTimeSlot('5:00 PM')">5:00 PM</button>
                                        <button type="button" class="time-slot" onclick="setTimeSlot('6:00 PM')">6:00 PM</button>
                                    </div>
                                </div>
                            </div>

                            <p class="appointment-text">Booking appointment for <span class="doctor-name"><%= name %></span> (<span class="department"><%= category %></span>)</p>

                            <div class="row form-row">
                                <button type="button" class="btn btn-success btn-appointment" name="fee" onclick="proceedToPay()" style="padding: 15px 10px; margin-right: 20px;margin-left: 20px;margin-bottom: 20px">Pay ₹<%= fee %></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function setTimeSlot(timeSlot) {
            document.getElementById('selectedTimeSlot').value = timeSlot;
        }

        async function proceedToPay() {
            const form = document.getElementById('appointmentForm');
            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());

            const response = await fetch('/proceedToPay', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            const { order_id, amount, currency, key } = await response.json();

            const options = {
                key,
                amount,
                currency,
                name: "Dolt Consultation",
                description: "Appointment Booking",
                order_id,
                handler: function (response) {
                    verifyPayment(response);
                },
                prefill: {
                    name: data.fullName,
                    email: data.email,
                    contact: data.mobileNumber
                },
                theme: {
                    color: "#F37254"
                }
            };

            const rzp1 = new Razorpay(options);
            rzp1.open();
        }

        async function verifyPayment(response) {
    const verificationResponse = await fetch('/verifypayment', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(response)
    });

    const result = await verificationResponse.json();
    if (result.status === 'success') {
        window.location.href = '/paymentsuccess';
        } else { window.location.href = '/paymentsuccess';
           ;
        }
    }

    </script>
</body>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assetsc/js/jquery-3.3.1.min.js"></script>
    <script src="assetsc/js/popper.min.js"></script>
    <script src="assetsc/js/bootstrap.min.js"></script>
    <script src="assetsc/js/bootstrap-datepicker.js"></script>

    <script>
      $(document).ready(function(){
          $("#dat").datepicker();
      })
    </script>
    
  </body>
</html>