<div class="screen-overlay"></div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/assetsb/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item active">
                <a class="menu-link" href="/admin/"><i class="icon material-icons">dashboard</i>

                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-account_circle"></i>

                    <span class="text">Users</span>
                </a>
                <div class="submenu">
                    <a href="/admin/userlist">User List</a>
                    <!-- <a href="page-products-grid.html">Product grid</a>
                    <a href="page-products-grid-2.html">Product grid 2</a>
                    <a href="page-categories.html">Categories</a> -->
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-orders-1.html"><i class="icon material-icons">local_hospital</i>
                    

                    <span class="text">Doctors category</span>
                </a>
                <div class="submenu">
                    <a href="/admin/catagorylist">Category List</a>
                    <a href="/admin/addcategory">Add category</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                    <span class="text">Doctors</span>
                </a>
                <div class="submenu">
                    <a href="/admin/doctorlist">Doctors List</a>
                    <a href="/admin/addoctor">Add Doctors</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Appointments</span>
                </a>
                <div class="submenu">
                    <a href="/admin/appointmentget">Appointment List</a>
                   
                </div>
            </li>
          
           
        
        </ul>
        <hr>
       
        <br>
        <br>
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form>
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
            <ul class="nav">
               
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                <li class="dropdown nav-item">
                    <script>function confirmLogout() {
                        // Use a confirm dialog to ask the user for confirmation
                        const confirmed = confirm("Are you sure you want to logout?");
                      
                        // If the user confirms, redirect to the logout route
                        if (confirmed) {
                          window.location.href = "/admin/logout";
                        }
                      }
                      </script>
                          
                    <a class="dropdown-item text-danger" href="#" onclick="confirmLogout()"><i class="material-icons md-exit_to_app"></i>Logout</a>
                </div>
                </li>
            </ul>
        </div>
    </header>